<footer>
  <section>
    <ul>
      <li><a alt="youtube" target="_blank" href="https://youtube.com/channel/UCRYEyBFj_BKzOLqMwSAy1pw"><%- include ../svg/youtube %></a></li>
      <li><a alt="twitter" target="_blank" href="https://twitter.com/quartz_cha4"><%- include ../svg/twitter %></a></li>
      <li><a alt="instagram" target="_blank" href="https://instagram.com/quartz_cha02?igshid=OGQ5ZDc2ODk2ZA=="><%- include ../svg/instagram %></a></li>
    </ul>
  </section>
  <section id="footer_links">
    <%- include ../component/links.ejs %>
  </section>
  <%- include ../component/copy_right.ejs %>
  <div id="to_top_btn">
    <a href="#">
      <%- include ../svg/arrow_up.ejs %>
    </a>
  </div>
  <script src="<%= rootPath %>footer.js"></script>
</footer>