<div id="global_menu">
  <label>
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div>
    <ul>
      <li><a href="<%= rootPath %>">ホーム</a></li>
      <li><a href="<%= rootPath %>download">ダウンロード</a></li>
      <li><a href="<%= rootPath %>about">くぉーつについて</a></li>
      <li><a href="<%= rootPath %>contact">お問い合わせ</a></li>
    </ul>
    <%- include ../component/copy_right.ejs %>
  </div>
</div>