<header>
  <a href="<%= rootPath %>">
    <img class="img-pc" src="<%= rootPath %>img/logo_pc.png">
    <img class="img-sp" src="<%= rootPath %>img/logo_sp.png">
  </a>
  <%- include ../component/links.ejs %>
  <%- include ../component/global_menu.ejs %>
</header>