<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include component/head.ejs %>
  <link rel="stylesheet" href="<%= rootPath %>css/download.css">
</head>

<body>
  <%- include component/header.ejs %>
  <main>
    <section id="kv">
      <div>
        <h1>ダウンロード</h1>
        <p>本作は個人制作のゲーム作品です。</p>
        <p>ダウンロードの前に、以下の内容をご確認ください。</p>
        <p>本作を快適にプレイするためには、一定の動作環境が必要です。</p>
      </div>
      <img src="<%= rootPath %>img/mini-quartz.png">
    </section>
    <section>
      <table>
        <tbody>
          <tr>
            <td>動作保障環境</td>
            <td>Windows 11</td>
          </tr>
          <tr>
            <td>使用可能コントローラー</td>
            <td>Microsoft Xbox Wireless Controller、その他のXboxコントローラー、サードパーティー製任天堂ハード向けコントローラーなど</td>
          </tr>
          <tr>
            <td>必要ストレージ容量</td>
            <td>10GB以上</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>ゲームを遊ぶ際のお願い</h2>
      <p>長時間の連続プレイは避け、適度に休憩を取りながらお楽しみください。</p>
      <p>不具合や意図しない挙動を確認された場合は、可能な範囲で制作者までご報告いただけますと幸いです。</p>
      <h2>実況プレイや配信、二次的な拡散や紹介について</h2>
      <p>実況プレイ、配信、SNS等での拡散や紹介は歓迎しています。ただし、以下の点についてご配慮をお願いいたします。</p>
      <ul>
        <li>公序良俗に反する内容や、誤解を招く表現・編集はお控えください。</li>
        <li>視聴者、他のプレイヤー、ならびに制作に関わった方々に迷惑となる行為は行わないでください。</li>
        <li>本作の印象を著しく損なうことを目的とした利用はご遠慮ください。</li>
        <li>本作は「大乱闘スマッシュブラザーズ」および関連作品とは一切関係ありません。関係があるかのように誤解される表現やサムネイルの使用はお控えください。</li>
      </ul>
    </section>
    <section>
      <h2>利用規約</h2>
      <div class="terms">
        <p>バーチャルスマッシュファンタジー（以下、「本ソフトウェア」）の利用にあたり、以下の利用規約（以下、「本規約」）に同意したものとみなします。</p>
        <h3>第1条（著作権）</h3>
        <p>本ソフトウェアの著作権は、くぉーつ（以下、「著作権者」）に帰属します。ユーザーは、著作権者の許可なく、本ソフトウェアの一部または全部を複製、改変、配布、販売、貸与、公衆送信等の行為を行ってはなりません。</p>
        <h3>第2条（禁止事項）</h3>
        <p>ユーザーは、以下の行為を行ってはなりません。</p>
        <ul>
          <li>本ソフトウェアを商業目的で使用すること。</li>
          <li>本ソフトウェアを逆コンパイル、逆アセンブル、リバースエンジニアリングすること。</li>
          <li>本ソフトウェアを第三者に譲渡、貸与、販売すること。</li>
          <li>本ソフトウェアを使用して法令または公序良俗に反する行為を行うこと。</li>
        </ul>
        <h3>第3条（免責事項）</h3>
        <p>著作権者は、本ソフトウェアの使用により生じた直接的または間接的な損害について、一切の責任を負いません。ユーザーは自己の責任において本ソフトウェアを使用するものとします。</p>
        <h3>第4条（規約の変更）</h3>
        <p>著作権者は、必要に応じて本規約を変更することができます。変更後の規約は、本ソフトウェアの配布サイトに掲載された時点で効力を生じるものとします。</p>
        <h3>第5条（準拠法および管轄裁判所）</h3>
        <p>本規約の解釈および適用は、日本法に準拠します。また、本ソフトウェアに関して紛争が生じた場合、著作権者の所在地を管轄する裁判所を第一審の専属的合意管轄裁判所とします。</p>
      </div>
    </section>
    <section>
      <button onclick="location.href='https://github.com/quartz-cha/virtual-smash-fantasy-release/releases/download/<%= versionIndex[0].version %>/virtual-smash-fantasy-<%= versionIndex[0].version %>.zip'">最新バージョンをダウンロード(v1.0.0)</button>
    </section>
    <section>
      <ul>
        <li><a href="<%= rootPath %>versions">バージョン履歴</a></li>
        <li><a href="<%= rootPath %>">お問い合わせフォーム</a></li>
      </ul>
    </section>
  </main>
  <%- include component/footer.ejs %>
</body>

</html>